<div id="top-bar" class="container">
	<div class="row">
		<div class="span4">
			<form method="POST" class="search_form">
				<input type="text" class="input-block-level search-query" Placeholder="Search ">
			</form>
		</div>
		<div class="span8">
			<div class="account pull-right">
				<ul class="user-menu">
					<li><a href="#">My Account</a></li>
					<li><a href="{% url 'stock:cart' %}">My Cart</a></li>
					<li><a href="{% url 'stock:checkout' %}">Checkout</a></li>

						{% if user.is_authenticated %}
    						<li>Welcome, {{ user.username }}</li>
							<li><a href="{% url 'logout' %}">Logout</a> </li>
						{% else %}
							<li>Welcome Guest</li>
							<li><a href="{% url 'login' %}">Login</a></li>
						{% endif %}


				</ul>
			</div>
		</div>
	</div>
</div>