{% extends "stock/base.html" %}

{% load static %}

{% block content %}

<div class="span12">
	<!--All time available sarees-->
	{% block all_time_1 %}
   		{% include 'stock/all_time_1.html' %}
	{% endblock %}
	<br/>
	{% block all_time_2 %}
   		{% include 'stock/all_time_2.html' %}
	{% endblock %}

	<!--{% block features %}-->
   		<!--{% include 'stock/index_features.html' %}-->
	<!--{% endblock %}-->




</div>







<!--<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>-->

{% block javascript %}
	<script src="{% static 'stock/js/jquery.flexslider-min.js' %}"></script>
	<script src="{% static 'stock/js/common.js' %}"></script>

	<script type="text/javascript">
			var $ = jQuery;

			$(function() {

				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>


	{% endblock javascript%}


{% endblock %}