{% load staticfiles %}

<section class="navbar main-menu">
				<div class="navbar-inner main-menu">
					<div class="col-md-4">
						<a href="{% url 'stock:index' %}" class="logo pull-left">
							<img src="{% static 'stock/img/vastrakala/logo.jpg' %}" class="site_logo" alt="">
						</a>
					</div>
					<div class="col-md-8">
					<nav id="menu" class="pull-right">
						<ul>
							<li><a href="{% url 'stock:products' 0 %}">Sarees</a>
								<ul>
									<li><a href="">Mahapor</a></li>
									<li><a href="">Mooklin</a></li>
									<li><a href="">Monica</a></li>
								</ul>
							</li>
							<li><a href="./products.html">Churidars</a></li>
							<!--<li><a href="./products.html">Sport</a>-->
								<ul>
									<li><a href="./products.html">Gifts and Tech</a></li>
									<li><a href="./products.html">Ties and Hats</a></li>
									<li><a href="./products.html">Cold Weather</a></li>
								</ul>
							</li>
							<li><a href="./products.html">Jewels</a></li>
							<!--<li><a href="./products.html">Best Seller</a></li>-->
							<!--<li><a href="./products.html">Top Seller</a></li>-->
						</ul>
					</nav>
						</div>
				</div>
			</section>